@model IEnumerable<Departement>

@{
    Layout = "_Layout";
}

<h1>Index</h1>
<br />

<a asp-action="Create" class="btn btn-primary"> Create new Departement</a>

<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(E => E.Name)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <partial name="_ButtonsPartialView" model="@item.Id" />
                    @*or*@
                    @* <td>
                        <a class="btn btn-success" asp-controller="Departement" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa-solid fa-eye"></i> Details
                        </a>
                        </td>

                        <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fa-solid fa-pen-to-square"></i> Update
                        </a>
                        </td>

                        <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fa-solid fa-trash"></i> Delete
                        </a>
                        </td>*@


                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h3>No Departement Found!</h3>
    </div>
}