@model List<UserInRoleViewModel>

@{
    ViewData["Title"] = "AddOrRemoveUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Or Remove Users</h2>
<br />
<form method="post">
    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="mb-2">
            <input type="checkbox" asp-for="@Model[i].IsSelected" class="filled-in" />
            <label asp-for="@Model[i].IsSelected">@Model[i].UserName</label>

            <input hidden asp-for="@Model[i].UserId" />
            <input hidden asp-for="@Model[i].UserName" />
        </div>
    }
    <div cla>
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</form>